.each-password-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  border: 1px solid #f8fafc;
  border-radius: 1vh;
  width: 100%;
  padding: 4vh;
  margin: 2vh;
}
.initial {
  background-color: #f59e0b;
  height: 9vh;
  width: 9vh;
  border-radius: 50%;
  color: #fff;
  padding: 1vh;
  text-align: center;
  font-weight: 500;
}
.details-card {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  width: 100%;
  margin-left: 2vh;
  color: #f8fafc;
}
.website {
  font-weight: 600;
  font-size: 3vh;
}
.name,
.password {
  font-weight: 500;
}
.delete-button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
.delete-image {
  width: 7vh;
}
.stars {
  width: 80%;
}

@media screen and (min-width: 768px) {
  .each-password-card {
    width: 30%;
    padding: 3vh;
    margin-right: 2vh;
    margin-bottom: 2vh;
  }
  .initial {
    height: 8vh;
    width: 8vh;
    font-size: 4vh;
    padding: 2vh;
    padding-top: 1.5vh;
  }
  .delete-image {
    width: 5vh;
  }
}
